.table-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 32px;
}

.month {
    display: flex;
    align-items: center;
    font-size: 14px;
    user-select: none;
}

.left, .right {
    cursor: pointer;
}

.month h4 {
    text-align: center;
    width: 140px;
    font-weight: 500;
}

table {
    margin-top: 32px;
    width: 100%;
}

table, th {
    border: 1px solid #eae2e2;
    border-collapse: collapse;
}

table thead .ant-table-cell {
    color: #1890ff;
    font-weight: 500;
    font-size: 14px;
    padding: 20px 24px;
    width: 60px;
}

/* add habit Style*/
table tbody .ant-habit {
    font-weight: 500;
    font-size: 14px;
    padding: 10px 24px;
    width: 60px;
}

.ant-habit.name,
table thead .habit {
    width: 126px;
}

.ant-weekday {
    font-size: 11px;
    font-weight: 400;
    height: 15px;
    padding: 4px 6px;
}

.ant-number-day {
    height: 22px;
    font-weight: 500;
    font-size: 14px;
    width: 24px;
    padding: 14px 4px;
}

.ant-number-habit {
    width: 24px;
    font-size: 14px;
    padding-left: 4px;
    padding-right: 4px;
}

/* tbody .ant-create-habit {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 150px;
    font-size: 14px;
    
} */

.ant-notes {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 60px;
}

