nav {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 20px;
    
}

.icon {
    display: flex;
    align-items: center;
    gap: 20px;
}

.icon h1 {
    font-size: 20px;
    cursor: pointer;
}

.icon .how-it-work {
    display: flex;
    padding-top: 4px;
    cursor: pointer;
    align-items: center;
    gap: 4px;
    position: relative;
}

.how-it-work .dropdown-content {
    display: none;
    position: absolute;
    top: 22px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: white;
    width: max-content;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: rgba(0,0,0,0.85);
    padding: 6px 12px;
    text-decoration: none;
    font-size: 14px;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.how-it-work:hover .dropdown-content {
    display: block;
}

.icon .how-it-work h5 {
    font-weight: 500;
    color: #666;
}

.mail-dark {
    display: flex;
    align-items: center;
    gap: 14px;
}

.mail-dark .mail {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

.mail-dark .mail p {
    color: #666;
    font-size: 14px;
}

