.btn-container {
    width: 100%;
    margin-top: 16px;
}

.btn {
    width: 110px;
    height: 32px;
    cursor: pointer;
    background-color: transparent;
    border: 1px solid #eae2e2;
    color: rgba(0, 0, 0, 0.85);
    font-weight: 500;
    transition: all 0.2s ease;
}

.btn:hover {
    background-color: rgba(0, 0, 0, 0.034);
}

/* Design note */
.note-container {
    position: relative;
    width: calc(100% - 40px);
    border: 1px solid #eae2e2;
    padding: 20px;
    margin-top: 20px;
}

.note-container .date-note {
    color: #666;
    font-size: .75rem;
    font-weight: 500;
    margin-bottom: 16px;
}

.note-container .note-description {
    font-size: 14px;
}

.note-container .update-del-icons {
    visibility: hidden;
    position: absolute;
    top: 20px;
    right: 30px;
    display: flex;
    gap: 16px;
}

.note-container:hover .update-del-icons {
    visibility: visible;
}

.note-container .update-del-icons .icon {
    cursor: pointer;
}