.btn-container {
    width: 100%;
    margin-top: 16px;
}

.btn {
    width: 110px;
    height: 32px;
    cursor: pointer;
    background-color: transparent;
    border: 1px solid #eae2e2;
    color: rgba(0,0,0, 0.85);
    font-weight: 500;
    transition: all 0.2s ease;   
}

.btn:hover {
    background-color: rgba(0, 0, 0, 0.034);
}

.note-container {
    width: 100%;
    border: 1px solid #eae2e2;
    padding: 20px;
}

